@import "materialize";

// This saves us from typing <body class="grey lighten-2"> on every page
body {
  @extend .grey;
  @extend .lighten-2;
}

.theme-bg {
  @extend .indigo;
  @extend .darken-1;
}

.heading {
  font-weight: bold;
}

nav .brand-logo {
  padding-left: 5px;
}

.home_start {
  margin-top: -34px;
  background-size: cover;
  background: url("/images/homepage.jpg") no-repeat center;
  height: 94vh;
  .container {
    color: white;
    position: relative;
    top: 26vh;
    //left: 8vw;
    @extend .center-align
  }
  .copyright {
    font-size: small;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 3px;
  }
}

.collapsible-header {
  @extend .theme-bg;
  @extend .white-text;
}
.collapsible-body {
  @extend .white;
  padding: 15px;
}

// Sticky Footer, doesn't necessarily work in IE due to little flexbox support
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
//End Sticky Footer

footer {
  @extend .theme-bg;
  .footer-copyright {
    @extend .theme-bg;
    @extend .darken-2;
  }
}